.calendar-wrapper {
  width: 1440px;
  height: 700px;
  display: flex;
  flex-direction: row;
  margin: auto;
}

.calendar {
  width: 900px;
  height: 600px;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.calendar-header {
  width: 100%;
  height: 50px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.calendar-body {
  margin: auto;
}

.title {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
}

.title h2 {
  margin: auto;
}

.tools {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
}

.tools button {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  background-color: #ffffff;
  border: none;
}

.tools button span:hover {
  color: #99cccc;
}

.table-header {
  width: 100%;
  display: flex;
}

.weekday {
  width: 20%;
  height: 50px;
  display: flex;
}

.weekday p {
  margin: auto;
}

.table-content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  box-sizing: border-box;
}

.calendarDay {
  width: 125px;
  height: 75px;
  border: 1px solid #a6a6a6;
  position: relative;
}

.calendarDay:hover {
  background-color: rgba(0,0,0,.10);
}

.calendarDay p {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #a6a6a6
}

.current p {
  color: #000000;
}

.selected p {
  color: #cc0000;
  font-weight: bold;
}


