.day-card {
  width: 384px;
  height: 576px;
  margin: auto;
  background-color: rgba(0,0,0,.05);
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.day-card .header {
  width: 75%;
  height: 20%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
}

.day-card .header h2 {
  align-self: flex-start;
}

.day-card hr {
  background-color: #cc0000;
  width: 100%;
  height: 3px;
  border: none;
}

.events-wrapper {
  width: 85%;
  flex-grow: 1;
  min-height: 20%;
  max-height: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.event {
  width: 100%;
  height: 25px;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.event-content {
  width: 90%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.event-tools {
  width: 10%;
  height: 100%;
  margin: auto;
  align-items: center;
  display: flex;
}

.event-tools span {
  margin: auto;
  color: #cc0000;
}

.event h4, .event p {
  margin-right: auto;
}

/* .count {
  width: 75%;
  height: 25px;
  margin: auto;
  display: flex;
  align-items: center;
} */

/* .day-card .tools {
  width: 40%;
  height: 71px;
  margin-right: auto;
  margin-left: 45px;
  text-align: center;
} */

/* .day-card .tools button {
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #2E86C1;
  text-align: center;
}

.day-card .tools button span {
  margin: auto;
  color: #2E86C1;
}

.day-card .tools button p {
  margin: auto;
  color: #2E86C1;
} */

